# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ----------------- HELPER -----------------
# ignore all .a files
# *.a
# # but do track lib.a, even though you're ignoring .a files above
# !lib.a
# # only ignore the TODO file in the current directory, not subdir/TODO
# /TODO
# # ignore all files in any directory named build
# build/
# # ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt
# # ignore all .pdf files in the doc/ directory and any of its subdirectories
# doc/**/*.pdf
# ----------------- END -----------------

# --------- Exception --------- 
!__resource/.gitkeeper
.eslintcache

## --------- Expansion --------- 
*.ai
*.AppleDouble
*.cache
*.code-workspace
*.DS_Store
*.editorconfig
*.eslintcache
*.grunt
*.idea
*.log
*.log-*
*.logs
*.LSOverride
*.map
*.next
*.njsproj
*.node_repl_history
*.npm
*.ntvs*
*.nuxt
*.nuxt-storybook
*.nyc_output
*.OLD
*.pid
*.pid.lock
*.psd
*.seed
*.serverless
*.sln
*.stTheme.cache
*.sublime-workspace
*.suo
*.swp
*.tgz
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.vscode
*.vuepress/dist
*.yarn-integrity

## --------- Folder ---------
__resource/
.idea/
.nuxt/
.output/
.viteAliases/
.vscode/
/coverage/
bower_components/
build/Release/
coverage/
del/
delete/
delme/
jspm_packages/
lib-cov/

node_modules/
pids/
storybook-static/
temp/
test/e2e/reports/
test/unit/coverage/
textChannel/
tmp/
trash/
typings/
upload/ 
blitz-config/.snapshot/
## --------- Folder Extend ---------
**/*/tmp

## --------- Files --------- 
.cache
.history
.cacheDir
.DS_Store
.eslintcache
.eslintrc-auto-import.json
.grunt
.idea
.local
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.vite
.viteCache
.vuepress/dist
.yarn-integrity
auto-imports.d.ts
bower_components
build/Release
components.d.ts
coverage
dev-dist
dist
lib-cov
node_modules
npm-debug.log*
PDF
pids
sftp-config.json
sw.*
temp-*
wizard.png
yarn-debug.log*
yarn-error.log
yarn-error.log*

# logs/**/*
logs/
